<%= render('shared/orders-tab.html.erb') if current_user.su? %>

<div class="content">
  <h2>Employee Orders</h2>

  <div class="inner">

    <%= render "/orders/list", order_class: EmployeeOrder, orders: @orders %>

  </div>
</div>
