<%= render('shared/orders-tab.html.erb') if current_user.su? %>
<div class="content">
  <h2>New Employee Order</h2>

  <div class="inner">
    <%= render '/orders/form', order_class: EmployeeOrder, order: @order %>
  </div>
</div>
