<%= render('shared/orders-tab.html.erb') if current_user.su? %>
<div class="content">
  <h2>New Work Order</h2>

  <div class="inner">
    <%= render '/orders/form', order_class: WorkOrder, order: @order %>
  </div>
</div>
