/*
 * This css will include all web-app-theme css you need
 *
 *= require web-app-theme/base
 *= require web-app-theme/themes/default/style.css
 *= require_self
 */

/* Write here your css for overriding the theme's rules */
#header h1{ font-size: 30px; }
#main{ width: 100%; }
#main .block .content{ min-height: 400px; }
a.login-forgot{ float: right; margin-top: 8px; }
.login-remember-me{ margin-top: 8px; }

.form.login{ margin-top: 10px; }
.form.login .text_field{ width: 90%; }

.form input.text_field, .form textarea.text_area{ padding: 5px; width: 50%; }
.form textarea.text_area{ resize: none; }
.form .navform a.link-button{ color: #111; }
.form .description{ display: block; }

.form.full .text_field, .form.full .text_area,
.form.full .group .text_field, .form.full .group .text_area{ width: 90%; }
.popup .form .group .text_field, .popup .form .group .text_area{ width: 95%; }

.no-data{ text-align: center; }
div.no-data{
  border-bottom: 1px solid #ccc;
  padding: 0 5px 9px;
}

.left{ float: left; }
.right{ float: right; }
.center{ text-align: center; }

.hidden{ display: none; }
.green, a.green, .green a, .approved{ color: green; }
.red, a.red, .red a, .rejected{ color: red; }
.grey, a.grey, .grey a, .gray, .pending{ color: gray; }
.yellow, a.yellow, .yellow a{ color: #DBCC23; }

.table.width-auto{ width: auto; }
.table th.center{ text-align: center; }
.table th.right, .table td.right{ float: none; text-align: right; }
.table th.last, .table td.last{ min-width: 50px; width: auto; }

.link-button-container{ margin: 0 0 10px 0; }
.link-button{
  background: url("web-app-theme/themes/default/images/button-background.png") repeat scroll center top #EDEEED;
  border: 1px solid #C3C4BA;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-family: "MuseoSans500",helvetica,arial,sans-serif;
  font-weight: normal;
  float: left;
  line-height: 17px;
  padding: 6px 10px;
  text-decoration: none;
}
input[type=submit].link-button{ padding: 8px 10px 6px; }
.link-button.right{ float: right; }
a.link-button{ margin-right: 10px; }

ul.form-error{
  color: #ecafaf;
  list-style: none;
  padding: 0;
  margin: 0 0 5px 0;
}

.login-remember-me{ margin-top: 10px; }
.login-forgot{
  float: right;
  margin-top: 8px;
}

.flash{ cursor: pointer; }
.flash .alert, .flash .message.alert{
  background: url("warning.png") no-repeat scroll 10px center #F9C006;
  border: 1px solid #BB9004;
}

#user-navigation ul li a.email-link{ text-decoration: underline; }
#box.set-password-box{ width: 595px; }
.set-password-box .login div.left{ width: 28%; }
.set-password-box .login div.right{ width: 70%; }

/* CUSTOM FORM */
.order-form label.label, label{ display: inline-block; }
.order-form label.label, p label.label{ min-width: 200px; }
label.l-val{ color: #aaa; }
label.green{ color: green; }
label.inline-label{ min-width: 120px; }
/*.field_with_errors{ display: inline-block; }
.field_with_errors input{ border: 1px solid red; }*/

.form .text_field.very-short{ width: 50px; }
.form .text_field.short, .form .text_area.short{ width: 200px; }
.form .text_field.medium, .form .text_area.medium{ width: 400px; }
.form .text_field.long, .form .text_area.long{ width: 100%; }
.form .text_field[readonly=readonly]{ background: #f9f9f9; }
.form .text_field.datepicker{ width: 100px; }
.order-detail-input-fields{ vertical-align: top; }

.approval-group{ margin-bottom: 5px; }
a.add-approval{
  display: inline-block;
  margin: 10px 0 0 125px;
}
.remove-approval{ margin: 0 0 0 10px; }
.selectbox{ min-width: 150px; }

/* CHOSEN */
.chzn-container-single{ min-width: 100px; }
.chzn-container-single .chzn-single{ background: #fff; }
.chzn-container-single .chzn-search{ overflow: hidden; }

.table p{
  margin: 0;
  min-width: 300px;
  max-width: 400px;
}

.page-info{ margin: 5px 0; }
.detail-label{
  display: inline-block;
  font-weight: bold;
  min-width: 150px;
}

.remove-fields{ margin: 0 0 0 10px; }
.field_with_errors{ display: inline-block; }
.field_with_errors input, .field_with_errors select{ border-color: red; }

.approval-status, .implementer-status{
  border: 1px solid #ccc;
  float: left;
  margin: 0 0 10px 0;
  padding: 5px 10px;
  text-align: center;
  min-width: 150px;
}

fieldset.order-filter{
  border-color: #CCC;
  border-style: solid none none;
  border-width: 1px 0 0 0;
  padding: 0 0 5px 0;
  margin: 0 0 10px;
  width: 50%;
}
fieldset.order-filter legend.search-toogle{
  background: url(down-arrow.png) no-repeat scroll left center transparent;
  cursor: pointer;
  padding: 2px 18px 2px 12px;
  margin: 0 0 10px 0;
}
fieldset.order-filter legend.search-toogle.active{
  background: url(up-arrow.png) no-repeat scroll left center transparent;
}


fieldset.order-filter .group{ margin-bottom: 2px; }
fieldset.order-filter .group.button-group{ margin-top: 10px; }
fieldset.order-filter .group .chzn-container-single{
  width: 270px !important;
}
fieldset.order-filter .group label{
  display: inline-block;
  width: 120px;
}


.implementer-status-container{
  float: left;
  margin: 0 0 0 20px;
}
.implementer-status .link-button{
  float: none;
  margin-right: 0;
}
.implementer-button{ float: right; }
.implementer-button span{ margin: 0 10px; }

.reject-form-container{
  display: none;
  float: left;
  margin: 0 0 0 20px;
}

.rejected-reason{
  float: left;
  margin: 0 0 0 20px;
}
.rejected-reason p{ margin-top: 5px; }
